APP_NAME=blog
APP_ENV=development
APP_DEBUG=false

HTTP_HOST=127.0.0.1
HTTP_PORT=8080
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s
HTTP_SHUTDOWN_TIMEOUT=10s

CONTENT_DIR=content/articles
IMAGES_DIR=public/images
NOTES_DIR=content/notes
STATIC_DIR=web/static
TEMPLATES_DIR=web/templates

EXPORT_DIR=dist
SITE_URL=https://guilhermeportella.github.io
SITE_BASE_PATH=
